//Font family
$body-font: "Century Gothic", sans-serif;

//Colors
$typo-color: #191818;
$main-red: #d65b49;
$secnd-orange: #ffb168;
$secnd-white: #ffffff;
$ocra: #bf9787;
$light-grey: #cccccc;

//Effects
$drop-shadow: 0px 1px 10px $light-grey;
