<footer class="row">
  <div class="col-12">
    <p>Designed and coded with &hearts; by <a href="http://www.martamattioli.com" target="_blank">Marta</a></p>
    <div class="col-12 social-media">
      <a href="https://github.com/martapz"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/marta-mattioli/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/marta_pz/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.behance.net/marta_pz"><i class="fa fa-behance" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
