<div class="row logo-div">
  <div class="col-12">
    <img src="/images/logo.svg" alt="Taste the Menu Logo" class="img-responsive">
  </div>
</div>
<div id="login-home-form" class="main-forms row">
  <h1 class="col-12">Login</h1>
  <form method="POST" action="/login" class="col-12">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control">
    </div>

    <button class="btn btn-primary">Login</button>
  </form>
  <p>Don't have an account? <a href="/register">register</a></p>
</div>
