<div class="row logo-div">
  <div class="col-12">
    <a href="/"><img src="/images/logo.svg" alt="Taste the Menu Logo" class="img-responsive"></a>
  </div>
</div>
<div id="login-home-form" class="main-forms row">
  <form method="POST" action="/login" class="form-contents col-12">
    <div class="form-group">
      <%# <label for="email">Email</label>%>
      <input type="text" name="email" id="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <%# <label for="password">Password</label>%>
      <input type="password" name="password" id="password" class="form-control" placeholder="Password">
    </div>

    <button class="orange-button">LOG IN</button>
  </form>
  <div class="col-12 form-contents register-par">
    <p>Don't have an account? <a class="bold-link" href="/register">register</a></p>
  </div>
</div>
