<nav class="row">
  <div class="col-12">
    <ul>
      <% if (locals.isLoggedIn) { %>
        <li><a href="/">Home</a></li>
        <li id="logout" data-value="0"><a href="/logout">Log Out</a></li>
        <li><a href="/users/<%= currentUser._id %>"><%= currentUser.firstName %></a></li>
      <%} else { %>
        <li><a href="/">Home</a></li>
        <li id="login" data-value="1"><a href="/login">Log In</a></li>
        <li><a href="/register">Register</a></li>
      <% } %>
    </ul>
  </div>
</nav>
