<nav class="row">
  <div class="col-12">
    <ul>
      <% if (locals.isLoggedIn) { %>
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Log Out</a></li>
      <%} else { %>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Register</a></li>
      <% } %>
    </ul>
  </div>
</nav>
