.not-found-page {
  h1, h2 {
    text-align: center;
  }

  h1 {
    margin: 20px 0;
    font-weight: bold;
  }

  .not-found-page-div {
    display: block;
    a {
      text-align: center;
      display: block;
      width: 100px;
      margin: 0 auto;
    }
  }
}
