//BUTTONS
.orange-button {
  width: 100%;
  border: none;
  background: $secnd-orange;
  padding: 5px 0;
  font-weight: bold;
  font-size: 20px;
  &:hover {
    background: darken($secnd-orange, 10%);
  }
}


//LINKS
.bold-link {
  font-weight: bold;
}

.cancel-button {
  display: block;
  width: 100%;
  border: none;
  background: $main-red;
  padding: 5px 0;
  color: white;
  font-weight: normal;
  margin-top: 20px;
  text-align: center;
  &:hover {
    color: $secnd-white;
    background: darken($main-red, 10%);
  }
}

.go-back-link {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  padding: 10px;
  // border: solid 2px $typo-color;
  background: $main-red;
  color: $secnd-white;
  &:hover {
    color: $secnd-white;
    text-decoration: none;
    background: darken($main-red, 10%);
  }
}

.user-show {
  a {
    display: inline-block;
    width: 200px;
    &:hover {
      text-decoration: none;
    }
  }
}

a {
  color: $typo-color;
  &:hover {
    color: $typo-color;
  }
}
