body, .restaurant-info-container {
  @include background-image-styling;
  background-size: cover;
}

.homepage-page {
  margin: 40px 0 250px;
  .search-bar-home {
    max-width: 600px;
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    background-color: $form-opaque-black;
    h1 {
      text-align: center;
      font-weight: bold;
      color: $secnd-white;
    }
    .google-place-search {
      margin-top: 35px;
      input {
        width: 100%;
        border: 0;
        border-bottom: solid 5px $main-red;
        padding: 10px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.pac-container {
  .pac-icon-marker {
    margin-left: 7px;
  }
  .pac-item {
    font-family: $body-font;
    font-size: 16px;
    padding: 5px 0;
    span:nth-child(3) {
      font-size: 14px;
    }
  }
}

// **************** USER SHOW ********************* //

.user-show {
  margin-top: 60px;
  text-align: center;
  h1 {
    font-weight: bold;
    margin-top: 30px;
  }
  .profile-pic-big {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    @include background-image-styling;
    background-size: contain;
    border-radius: 50%;
  }
  p {
    margin: 20px 0;
    span {
      font-weight: bold;
    }
  }
}


// ****************** RESTAURANT SHOW ********************* //

.restaurants-show {
  .restaurant-info-container {
    padding: 0;
  }

  .black-overlay {
    background: $form-opaque-black;
    text-align: center;
    padding: 40px 0;
    h1 {
      font-weight: bold;
      font-size: 50px;
      margin-bottom: 20px;
    }
    h1, h3, p {
      color: $secnd-white;
    }
    .icons {
      margin-top: 40px;
      .rest-details {
        margin-top: 20px;
      }
      a {
        color: $secnd-white;
        display: block;
        &:hover {
          color: $secnd-white;
        }
      }
    }
  }

  .menu-container {
    margin: 40px auto;
    .no-items {
      text-align: center;
      font-weight: bold;
    }
  }

  .add-item {
    padding: 20px 0;
    margin-top: 33px;
    margin: auto;
    width: 70%;
    &:hover {
      text-decoration: none;
    }
  }
}
