.menu-container {
  .menu-header, h2 {
    text-align: center;
    font-weight: bold;
    .menu-legend {
      margin: 30px;
      padding: 0 20px 20px;
      border: solid 2px $light-grey;
      img {
        width: 70px;
        height: auto;
        margin-top: 20px;
      }
      .legend-courses {
        margin-top: 15px;
      }
    }
  }

  .menu {
    list-style-type: none;
    padding: 0;
    width: 90%;
    margin: 0 auto;
    .menu-item {
      padding: 10px 0;
      border-bottom: solid 2px $light-grey;

      .menu-item-item {
        font-size: 20px;
        text-transform: uppercase;
        img {
          margin-right: 10px;
        }
      }

      .item-voting-system {
        text-align: right;
        .yeah {
          margin: 0 10px 0 5px;
        }

        .critiques {
          height: 35px;
          border: none;
          padding: 0 10px;
          cursor: pointer;
          background: $secnd-orange;
          &:hover {
            background: darken($secnd-orange, 10%);
          }
          &:focus {
            outline: none;
          }
        }
      }

      .comment-section {
        padding: 10px 0 0 0;

        .close-comment-section {
          font-weight: bold;
          text-align: right;
          padding: 5px 20px 0 0;
          color: $light-grey;
          cursor: pointer;
        }
      }

      .single-comment {
        padding: 10px;
      }

      .comment-picture {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        @include background-image-styling;
        background-size: contain;
        span {
          line-height: 30px;
          margin-left: 40px;
        }
      }

      .comment {
        margin: 0 20px 0 40px;
        font-style: italic;
      }

      .votes {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        border-bottom: solid 2px black;
        &:focus {
          outline: none;
        }
      }

      .yeah-vote {
        background: #2ecc71;
        border-bottom-color: darken(#2ecc71, 20%);
        &:hover {
          background: darken(#2ecc71, 10%);
        }
      }

      .bleah-vote {
        background: $main-red;
        border-bottom-color: darken($main-red, 20%);
        &:hover {
          background: darken($main-red, 10%);
        }
      }

      .leave-comment-form {
        margin: 10px 10px;
        input {
          border: none;
          padding: 5px 20px;
        }
        input:nth-child(1) {
          width: 100%;
          background: lighten($light-grey, 10%);
          border-radius: 20px;
          margin-right: 17px;
          &:focus {
            outline: none;
          }
        }
        ::-webkit-input-placeholder {
          color: $typo-color;
        }
        input:nth-child(2) {
          display: block;
          margin: 10px auto 0;
          padding: 2px 10px;
          background: none;
          border: solid 2px $typo-color;
          cursor: pointer;
          &:hover {
            background: lighten($light-grey, 10%);
          }
        }
      }

      .delete-comment-form {
        display: inline-block;
        .delete-comment {
          font-size: 12px;
          border: none;
          border-radius: 3px;
          background: $main-red;
          &:hover {
            background: darken($main-red, 10%);
          }
        }
      }
    }
  }

  .admin-rights {
    text-align: right;
    background: $light-grey;
    padding: 5px 5px 10px 5px;
    margin-top: 5px;
    .delete-comment {
      background: $secnd-orange;
    }
  }
}
