<section class="main-forms row not-found-page register-page">
  <div class="col-12 not-found-page-div ">
    <h2>Ooops..!</h2>
    <h1> PAGE NOT FOUND </h1>
    <a class="bold-link go-back-link" href="javascript:history.back()">Go back</a>
  </div>
</section>
