<h1>Homepage</h1>

<div class="row">
  <div class="col-12">
    <div id="locationField">
      <input id="pac-input" class="controls" type="text" placeholder="Enter a location" onfocus="geolocate()"/>
      <pre id="placeInfo"></pre>
    </div>
  </div>
</div>
