<div class="row homepage-page" data-value="1">
  <div class="col-12 search-bar-home">
    <h1>Get the best restaurant recommendations</h1>
    <div class="google-place-search" id="locationField">
      <input id="pac-input" class="controls" type="text" placeholder="Search for a restaurant..." value=""/>
    </div>
  </div>
</div>
