<h1>Homepage</h1>

<form id="login-home-form" method="POST" action="/login">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control">
  </div>

  <button class="btn btn-primary">Login</button>
</form>

<div class="row search-form-home">
  <div class="col-12">
    <div id="locationField">
      <form id="searchForm" action="" method="GET">
        <input id="pac-input" class="controls" type="text" placeholder="Enter a location" value=""/>
      </form>
    </div>
  </div>
</div>
