<h1>Homepage</h1>

<div class="row">
  <div class="col-12">
    <div id="locationField">
      <form id="searchForm" action="" method="GET">
        <input id="pac-input" class="controls" type="text" placeholder="Enter a location" value=""/>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <ul>
    <% users.forEach(user => { %>
      <li>
        <a href="/users/<%= user._id %>"><%= user.firstName %></a>
      </li>
    <% }) %>
  </ul>
</div>
